<h3>Details of {{ accommodation.name }}</h3>
<p>ID: {{ accommodation.id }}</p>
<p>Name: {{ accommodation.name }}</p>
<p>Location: {{ accommodation.location }}</p>
<a href="{% url 'accommodation:list' %}">Back</a>
<a href="{% url 'accommodation:delete' accommodation.id %}" style="color: red">Delete</a>


<h3>Update this accommodation</h3>
<form action="{% url 'accommodation:update' accommodation.id %}" method="post">
    {% csrf_token %}
    <div>
        <label>Name</label>
        <input type="text" name="name" value="{{ accommodation.name }}"/>
    </div>

    <div>
        <label>Location</label>
        <input type="text" name="location" value="{{ accommodation.location }}"/>
    </div>

    <div>
        <input type="submit" value="Update"/>
    </div>
</form>